* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profileWrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 3em 1em 1em 1em;
  text-align: left;
}

.profileFlexWrapper {
  display: flex;
  width: 100%;
  margin: 1em 0 5em 0;
}

.profileMetadata {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  background: #fff;
  margin-right: 0.5em;
  border-radius: 6px;
  padding: 0em 0em 1.5em 0em;
  height: 100%;
}

.profileMetadata h3 {
  margin: 0.5em auto 1.5em auto;
  min-width: 120px;
  color: #3c3c49;
}

.profileInformation {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  background: #fff;
  margin-left: 0.5em;
  border-radius: 6px;
  height: 100%;
}

.profileInformation h3 {
  margin: 0.5em auto 1.5em auto;
  min-width: 120px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #808080;
}

.profilePicture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 2em auto 1em auto;
  border-radius: 50%;
}

.profileAndSubscription {
  width: 50%;
  margin: 1em 0em;
  padding: 1em 2em;
  border-right: 1px solid #e1e1e1;
}

.helpSection {
  width: 50%;
  margin: 1em 0em;
  padding: 1em 2em;
}

.helpSection a {
  width: 100%;
  display: block;
  border-top: 1px solid #e3e3e3;
  padding: 1em 0;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.strokedButton {
  background-color: none;
  border: 3px solid #6562f8;
  color: #6562f8;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 300px;
  width: 80%;
  margin: 0em auto 0.8em auto;
  border-radius: 4px;
}

.strokedButton:hover {
  opacity: 0.5;
}

.gradientButtonBlue {
  background-image: linear-gradient(to right, #733fff, #538de1);
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 280px;
  width: 80%;
  margin: 0.8em auto 1.5em auto;
  border-radius: 25px;
  text-transform: uppercase;
  min-height: 45px;
}

.gradientButtonBlue:hover {
  background-image: linear-gradient(to right, #6367ef, #6367ef);
}

.gradientButtonRed {
  background-image: linear-gradient(to right, #ee2280, #fe6b5f);
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 280px;
  width: 80%;
  margin: 0em auto 0.8em auto;
  border-radius: 25px;
  text-transform: uppercase;
  min-height: 45px;
}

.gradientButtonRed:hover {
  background-image: linear-gradient(to right, #f4486d, #f4486d);
}

#name {
  border-radius: 4px;
  width: 100%;
  border: 2px solid #ebebeb;
}

#instagram {
  border-radius: 4px;
  width: 100%;
  border: 2px solid #ebebeb;
}

#submit {
  min-height: 45px;
  margin: 1em 0 2em 0;
  cursor: pointer;
}

input {
  margin: 1em 0em;
}

.activeSubscription {
  color: #41f075;
  font-weight: 500;
  font-size: 20px;
}

.page {
  background-color: #f1f1f4;
  padding: 5em 10em;
}

h2 {
  text-align: left;
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.grid article {
  background-color: white;
}

.left {
  padding: 1.5em;
}

.left img,
.right img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.button-wrapper div {
  width: 75%;
  margin: 0.5em auto;
  padding: 0.3em;
}

.btn-round {
  border: none;
  border-radius: 10em;
  background-color: var(--purple);
  color: white;
}

/* Todo: gradient */
.btn-square {
  border: 3px solid var(--purple);
  color: var(--purple);
  border-radius: 0.5em;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profileInformation {
  padding: 1em 3em;
}

.profileInformation nav {
  width: 100%;
}

.profileInformation nav ul {
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: 1px solid lightgray;
  color: gray;
  font-weight: bold;
}

.profileInformation img {
  height: 100px;
  width: 100px;
}

.content-flex {
  display: flex;
}

.content-flex figure {
  margin-right: 3em;
  text-align: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.content-grid section {
  width: 100%;
}

.content-grid figure {
  display: flex;
  margin-top: 1em;
  border: solid 1px;
}

.content-grid p {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1em;
}

.workout {
  display: grid;
}

.right-content img {
  margin: 1em;
}

.content .active {
  color: var(--purple);
}

.show {
  display: block;
}

.hide {
  display: none;
}