/* ALL CODE BELOW IS MADE BY JOSHUA ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding-top: 4em;
}

h2 {
  text-align: left;
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.grid article {
  background-color: white;
}

.left {
  padding: 1.5em;
}

.left img,
.right img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.button-wrapper div {
  width: 75%;
  margin: 0.5em auto;
  padding: 0.3em;
}

.btn-round {
  border: none;
  border-radius: 10em;
  background-color: var(--purple);
  color: white;
}

/* Todo: gradient */
.btn-square {
  border: 3px solid var(--purple);
  color: var(--purple);
  border-radius: 0.5em;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profileInformation nav {
  width: 100%;
}

.profileInformation nav ul {
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: 1px solid lightgray;
  color: gray;
  font-weight: bold;
}

.profileInformation img {
  height: 100px;
  width: 100px;
}

.content-flex {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-evenly;
  width: 100%;
}

.content-flex figure {
  margin-right: 3em;
  text-align: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.content-grid section {
  width: 100%;
}

.content-grid figure {
  display: flex;
  margin-top: 1em;
  background-color: white;
}

.content-grid p {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1em;
}

.workout {
  display: grid;
}

.right-content {
  width: 100%;
  background-color: var(--light-grey);
  padding: 1em 3em;
}

.right-content img {
  margin: 1em;
}

.content .active {
  color: var(--purple);
}

.show {
  display: block;
}

.hide {
  display: none;
}