/* ALL CODE BELOW IS MADE BY THE WHOLE GROUP ---------------------------------*/
/* ---------- root variables ---------- */
:root {
  --purple: #6562f8;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --bg-color-grey: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Poppins", sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--light-grey);
}

h1 {
  font-size: 2em;
  font-weight: 900;
  color: #3c3c49;
}

h2 {
  font-size: 1.6em;
  font-weight: 800;
  color: #3c3c49;
}

h3 {
  font-weight: 700;
  color: #3c3c49;
}

a {
  text-decoration: none;
  color: black;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: white;
  text-transform: uppercase;
  align-items: center;
  padding: 0.8em 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.tabbar-content {
  width: 100%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  margin: 0.5em 0 0 0;
  height: 100%;
}

.logo img {
  width: 6em;
  margin: auto;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-left: 1.5em;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--purple);
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: lightgrey;
}

.tabbar a:hover {
  opacity: 0.5;
}

.tabbar img {
  margin: auto 0;
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: var(--purple);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: 95vh;
  margin-top: 80px;
  background: var(--light-grey);
  animation: fadeIn 0.4s;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- styling ---------- */
/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

iframe {
  border: none;
  width: 100%;
  height: 250px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}