/* ALL CODE BELOW IS MADE BY MIKE ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 800;
  text-align: left;
  margin: 1.5em 0 0.3em 0;
  padding: 0;
  /* padding-top: 2em; */
}

.content-wrapper {
  max-width: 1240px;
  margin: auto;
  padding: 1em 2em;
}

.content-wrapper h3 {
  font-size: 0.9em;
  letter-spacing: 0.5em;
  color: gray;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.grid-creators {
  background-color: white;
  width: 180px;
  height: 250px;
  border-radius: 1em;
  margin: 0.5em 1em 0.5em 0;
}

.grid-creators h2 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 0.9em;
  text-align: center;
}

.grid-creators img {
  width: 60%;
  border-radius: 50%;
  margin-top: 20px;
}

.grid-creators p {
  margin-top: 20px;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-image: linear-gradient(to right, #733fff, #538de1);
  color: white;
  border-radius: 0.3em;
  padding: 6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.grid-creators p:hover {
  background-image: linear-gradient(to right, #6367ef, #6367ef);
}

.grid-discover {
  position: relative;
  background-color: white;
  border-radius: 2%;
  margin: 0 1em 1em 0;
}

.grid-discover img {
  width: 212px;
  height: 212px;
  object-fit: cover;
}

.grid-discover img:hover {
  filter: brightness(70%);
}

.text-block {
  position: absolute;
  bottom: 30px;
  left: 10px;
  text-align: left;
}

.text-block h2 {
  font-weight: 700;
  font-size: 0.85em;
  color: white;
  margin-bottom: 2px;
}

.text-block p {
  font-weight: 500;
  font-size: 0.75em;
  color: white;
}

.tags ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  color: var(--purple);
}

.tags li {
  font-weight: 500;
  font-size: 0.8em;
}

.text-desc {
  color: black;
  text-align: left;
}

.text-desc h2 {
  font-weight: 700;
  font-size: 0.85em;
  margin: 0.2em;
}

.text-desc p {
  font-weight: 500;
  font-size: 0.75em;
  margin: 0.2em;
}

.grid-nutrition {
  position: relative;
  border-radius: 2%;
  margin: 0 1em 1em 0;
}

.grid-nutrition h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6%;
  margin-bottom: 1.5em;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
}

.grid-nutrition p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6%;
  font-weight: 700;
  font-size: 1.3em;
  color: #7fcead;
}

.grid-nutrition img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 2%;
}