#workoutContainer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.page {
  background-color: var(--light-grey);
}

#workoutContainer h2 {
  padding-top: 20px;
}

#headline {
  margin: 0 auto;
  padding-top: 20px;
  font-size: 1.5rem;
}

#headline h2 {
  text-align: center;
}

#progressBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 50px;
}

.progressNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
}
.progressNumber:hover {
  filter: brightness(70%);
  transition: 0.3s;
  cursor: pointer;
}

#workoutContainer img {
  display: flex;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 400px;
}

#workoutContainer h3 {
  padding-top: 20px;
}

#workoutContainer h4 {
  text-align: left;
  padding-top: 20px;
}
#workoutContainer p {
  padding-top: 5px;
  text-align: left;
  width: 50%;
}

.video {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  top: 480px;
  position: absolute;
  padding: 38px 26px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 300px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 300px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
